{% extends 'base.html' %} {% block body %}
<section
  id="intro"
  class="d-flex justify-content-center align-items-center container-fluid"
>
<div class="bg-img"></div>
  <span class="title text-center"
    ><span class="cap-case">A</span>nalysing
    <span class="cap-case">S</span>ocial <span class="cap-case">M</span>edia
    <span class="cap-case">R</span>eaction on
    <span class="cap-case">P</span>olitical <span class="cap-case">I</span>ssues
    <br />using <span class="cap-case">M</span>achine
    <span class="cap-case">L</span>earning</span
  >
</section>
<section id="about" class="secbody">
  <span class="heading fs-1">About</span>
  <div class="main-ab">
    <aside id="ab-wordcloud-img" class="px-2">
      <img
        src="{{url_for('static', filename='images/wordcloud-ab.png')}}"
        alt="wordcloud"
      />
    </aside>
    <aside id="abstract" class="px-2">
      <span class="first-letter">C</span>urrently, Twitter is one of the most
      popular social media platforms that allows its users to express their
      thoughts on any topic, usually in the form of short messages limited by
      word count. With a large number of users, Twitter has become a valuable
      source for analyzing people's behavior and reactions to political issues.
      However, analyzing the text-based posts can be challenging due to the high
      dimensionality of the data, making it difficult for models to learn. To
      overcome this, it is necessary to find an appropriate method to cluster
      and classify Twitter posts for acceptable results. This study presents the
      clustering of Twitter users based on the most commonly used words in their
      reactions to a trending political issue and classifies the tweets as
      left-wing or right-wing. The results of this study are represented through
      various visualizations such as dendrograms, histograms, word clouds, bar
      graphs, etc.
    </aside>
  </div>
</section>
<section class="classify secbody" id="classify">
  <span class="heading fs-1">Classify</span>
  <div class="l-wing">
    <h3>Left Wing</h3>
    Left-wing politics supports social equality often in opposition to social
    hierarchy or any other form of class division.
  </div>
  <div class="r-wing">
    <h3>Right Wing</h3>
    Right-Wing politics is centered around beliefs that certain social orders
    and hierarchies are inevitable and natural
  </div>
  <div class="progress-stacked">
    <div
      class="progress"
      role="progressbar"
      aria-label="Segment one"
      aria-valuenow="15"
      aria-valuemin="0"
      aria-valuemax="100"
      style="width: 50%"
    >
      <div class="progress-bar progress-bar-l">{{left_perct}}%</div>
    </div>
    <div
      class="progress"
      role="progressbar"
      aria-label="Segment two"
      aria-valuenow="30"
      aria-valuemin="0"
      aria-valuemax="100"
      style="width: 50%"
    >
      <div class="progress-bar progress-bar-r">{{right_perct}}%</div>
    </div>
  </div>
</section>
<section class="trends secbody" id="trends">
  <span class="heading fs-1">Trends</span>
  <div class="frequency">
    <div class="freq_img home_freq_img"></div>
    <p>Finding most frequent words to get trending topics.</p>
  </div>
</section>
<section class="cluster secbody" id="cluster">
  <span class="heading fs-1">Cluster</span>
  <div class="h_clust">
    <div class="dendrogram home_dendrogram"></div>
    <p>Relation between topics using hierarchical clustering.</p>
  </div>
</section>
{% endblock body %}
